# Dependency directories
node_modules/

# Build outputs
design/styles.css

# Environment files
.env
.env.local

# IDE specific files
.vscode/
.idea/

# System Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*